a{
  text-decoration: none;
}

.header {
  background: #071534;
  background: radial-gradient(circle farthest-corner at center center, #071534 0%, #001077 200%);
  background: -webkit-radial-gradient(circle farthest-corner at center center, #071534 0%, #001077 200%);
  background: -moz-radial-gradient(circle farthest-corner at center center, #071534 0%, #001077 200%);
  border-bottom: solid rgb(123, 123, 123) 1px;
  padding: 30px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.navLogo{
  height: 100px;
}

.navButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}

.navButton {
  margin-right: 20px;
  background-color: #3c8dbc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  transition: all 0.3s ease;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-shadow: 0px 0px 2px white;
  box-shadow: 0px 8px 15px rgba(0, 106, 255, 0.608);
}

.navButtonClose{
  margin-right: 130px;
}

.navButton:hover {
  background-color: #367fa9;
  color: rgb(178, 178, 178);
  box-shadow: none;
}