.pageLanding {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #00000078;
  display: flex;
  align-items: center;
}

.pageLanding::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-image: url('./assets/fondo-inicio.jpg');
  z-index: -1;
}

.conteinerLanding{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 20vh;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 25px;
  margin-left: 25vw;
  align-items: center;
  margin-bottom: 10vh;
}

.imgHamilton {
  height: 85vh;
  margin-right: 150px;
  margin-top: auto;
}

.imgLanding {
  animation: jump 1s infinite alternate;
  height: 4vw;
  filter: brightness(0) invert(1);
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.buttonLanding {
  padding: 1rem 3rem;
  border: none;
  background: #172c41;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 3px 6px #000000;
  color: white;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.332);
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.buttonLanding:hover {
  transform: translate(5px, -5px);
  background: #0c1f2d;
  text-shadow: none;
}