.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url('./assets/fondo.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.homeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}